.hero-banner-widget {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 0;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.hero-banner-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 62px;
    width: 100%;
}

.hero-banner-avatar {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
}

.hero-banner-avatar img {
    width: 415px;
    height: 430px;
    object-fit: cover;
    border-style: solid;
    border-width: 2px;
    border-color: #C78140;
    border-radius: 10px;
    display: block;
    object-position: top;
}

.hero-banner-content-wrapper {
    flex: 1 1 auto;
}

.hero-banner-name {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 40px;
}

.hero-banner-job-titles {
    font-size: 18px;
    line-height: 1.5;
    color: #C78140;
    margin-bottom: 35px;
    padding-top: 16px;
    border-top: 3px solid #fff;
}

.hero-banner-content {
    font-size: 24px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 70px;
}

.hero-banner-button a {
    display: inline-block;
    padding: 20px 30px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1px solid #C78140;
    text-decoration: none;
}

.hero-banner-button a:hover {
    background-color: #C78140;
    color: #ffffff;
}


.glitch__layers {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.glitch__layer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: var(--var-image);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.glitch__layer:nth-child(1) {
	transform: translateX(-5%);
	animation: glitch-anim-1 2s infinite linear alternate;
}
.glitch__layer:nth-child(2) {
	transform: translateX(3%) translateY(3%);
	animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
}
.glitch__layer:nth-child(3) {
	transform: translateX(5%);
	animation: glitch-anim-flash 1s infinite linear;
}
@keyframes glitch-anim-1 {
	0% {
		clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
	}
	10% {
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	20% {
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	30% {
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	40% {
		clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
	}
	50% {
		clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
	}
	60% {
		clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
	}
	70% {
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	80% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	90% {
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	100% {
		clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
	}
}
@keyframes glitch-anim-2 {
	0% {
		clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
	}
	15% {
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	25% {
		clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
	}
	30% {
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	45% {
		clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
	}
	50% {
		clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
	}
	65% {
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	75% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	80% {
		clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
	}
	95% {
		clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
	}
	100% {
		clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
	}
}
@keyframes glitch-anim-flash {
	0% {
		opacity: .2;
	}
	30%, 100% {
		opacity: 0;
	}
}

/* Tablet Responsive */
@media (max-width: 1024px) {
    .hero-banner-container {
        gap: 30px;
    }

    .hero-banner-widget {
        height: 100%;
        padding: 0;
    }

    .hero-banner-avatar {
        margin-inline: auto;
    }
    
    .hero-banner-avatar img {
        width: 100% !important;
        height: auto !important;
    }
    
    .hero-banner-name {
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .hero-banner-job-titles {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .hero-banner-content {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .hero-banner-content-wrapper {
        width: 100%;
    }
}

/* Mobile Responsive */
@media (max-width: 767px) {
    .hero-banner-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .hero-banner-widget {
        height: 100%;
        padding: 0;
    }
    
    .hero-banner-avatar {
        margin-bottom: 20px;
    }
    
    .hero-banner-avatar img {
        width: 100% !important;
        height: auto !important;
    }
    
    .hero-banner-name {
        font-size: 28px;
        margin-bottom: 15px;
    }
    
    .hero-banner-job-titles {
        font-size: 14px;
        margin-bottom: 15px;
    }
    
    .hero-banner-content {
        font-size: 18px;
        margin-bottom: 20px;
    }
} 