/* Portfolio Banner Widget Styles */
.portfolio-banner-widget {
    color: #F4B183;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.portfolio-banner-container {
    width: fit-content;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Content Area */
.portfolio-banner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 2rem 0;
    gap: 20px;
}

.portfolio-banner-greeting {
    font-size: 8rem;
    font-weight: 700;
    color: #F4B183;
    line-height: 1;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
}

.portfolio-banner-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-bottom: 45px;
}

.portfolio-banner-message-container:before {
    content: '"';
    position: absolute;
    top: -45px;
    right: -10px;
    font-size: 5rem;
    color: #F4B183;
    font-family: Georgia, "Times New Roman", serif;
    line-height: 0;
    font-weight: bold;
    transform: rotate(0deg);
    opacity: 0.9;
}

.portfolio-banner-message {
    font-size: 1.5rem;
    font-weight: 500;
    color: #F4B183;
    margin-bottom: 0.5rem;
}

.portfolio-banner-subtext {
    font-size: 1.2rem;
    color: #F4B183;
}

/* Footer Area */
.portfolio-banner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-top: 10px solid rgba(244, 177, 131, 1);
}

.portfolio-banner-job-title {
    font-size: 1rem;
    color: #ffffff;
}

.portfolio-banner-year {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
    .portfolio-banner-greeting {
        font-size: 6rem;
    }
    
    .portfolio-banner-message-container:before {
        font-size: 4rem;
        top: -35px;
    }

    .portfolio-banner-content {
        flex-direction: column;
    }
    .portfolio-banner-message-container {
        margin-bottom: 0;
    }

    .portfolio-banner-message-container:before {
        display: none;
    }

    .portfolio-banner-footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-banner-greeting {
        font-size: 4rem;
    }
    
    .portfolio-banner-message-container:before {
        font-size: 3rem;
        top: -30px;
        right: -10px;
    }
    
    .portfolio-banner-message {
        font-size: 1.2rem;
    }
    
    .portfolio-banner-subtext {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .portfolio-banner-greeting {
        font-size: 3rem;
    }
    
    .portfolio-banner-footer {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
} 